autocorrect==2.6.1
contractions==0.1.73
dash==2.14.1
dash_bootstrap_components==1.5.0
gensim==4.3.2
lyricsgenius==3.0.1
matplotlib==3.3.4
matplotlib==3.7.2
nltk==3.6.1
nltk==3.8.1
numpy==1.24.4
numpy==1.15.1
numpy==1.20.1
numpy==1.20.3
numpy==1.24.3
pandas==1.2.4
pandas==1.5.3
Pillow==10.0.0
Pillow==8.2.0
Pillow==9.4.0
Pillow==10.1.0
Requests==2.31.0
scikit_learn==1.3.0
scikit_learn==0.24.1
scikit_learn==1.0.2
scikit_learn==1.1.3
spacy==3.7.2
textblob==0.17.1
wordcloud==1.9.2
